[submodule "Curiosity/NativeUI"]
	path = Curiosity/NativeUI
	url = https://github.com/citizenfx/NativeUI
[submodule "Curiosity/FiveM-MySQL"]
	path = Curiosity/FiveM-MySQL
	url = https://github.com/Local9/FiveM-MySQL.git
[submodule "ProfanityDetector"]
	path = ProfanityDetector
	url = https://github.com/stephenhaunts/ProfanityDetector.git
[submodule "thirdparty/FiveM_Queue"]
	path = thirdparty/FiveM_Queue
	url = https://github.com/Local9/FiveM_Queue.git
[submodule "thirdparty/NativeUI"]
	path = thirdparty/NativeUI
	url = https://github.com/citizenfx/NativeUI.git
