<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CitizenFX.Core.Client" version="1.0.2082" targetFramework="net461" />
  <package id="JetBrains.Annotations" version="2019.1.3" targetFramework="net461" />
  <package id="System.ComponentModel.Annotations" version="4.6.0-preview.19073.11" targetFramework="net461" />
</packages>