<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CitizenFX.Core.Server" version="1.0.2602" targetFramework="net452" />
  <package id="MSBump" version="2.3.2" targetFramework="net452" developmentDependency="true" />
  <package id="Nerdbank.GitVersioning" version="3.1.91" targetFramework="net452" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net452" />
</packages>