body {
    background-color: transparent;
    margin: 0px;
    font-family: "Segoe UI", "Segoe UI Symbol", "Segoe UI Emoji", Arial, sans-serif;
    font-size: 1.1rem;
    line-height: 1.2rem;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

ul li {
    background-color: rgba(0,0,0,0.4);
    margin-bottom: 0.25rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: rgba(0,0,0,0.7) thin solid;
    color: #fafafa;
}

#chat {
    position: absolute;
    top: 10rem;
    right: 1rem;
    padding: 0.25rem;
    width: 30%;
    font-family: "Segoe UI", "Segoe UI Symbol", "Segoe UI Emoji", Arial, sans-serif;
    color: #fafafa;
    text-shadow: 1px 0 1px #000, 0 -1px 1px #000, 0 1px 1px #000, -1px 0 1px #000;
    overflow: hidden;
    overflow-wrap: break-word;
}

input.fake {
    position: absolute;
    top: -10000px;
    left: -10000px;
}

#chatInputHas {
    display: none;
    background-color: rgba(0,0,0,0.4);
    padding: 0.25rem;
    border-radius: 0.25rem;
    border: rgba(0,0,0,0.7) thin solid;
}

#chatInputHas strong {
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    position: relative;
    padding: 0.25rem;
    padding-left: 0px;
    min-height: 5rem;
    margin-right: 4px;
}

#chatInput {
    background-color: transparent;
    border: none;
    outline: none !important;
    padding: 3px;
    position: absolute;
    display: inline;
    margin: 0px;
    color: #fff;
    font: inherit;
    white-space: pre-wrap;
    word-wrap: break-word;
}

#chatInput * > div:first-child {
    display: inline;
    word-wrap: break-word;
    line-height: 18px;
}

#chatInput .caret {
    display: inline;
    min-width: 1px;
    height: 22px;
    word-wrap: break-word;
    vertical-align: top;
    background-color: #fff;
    text-shadow: 1px 0 1px #000, 0 -1px 1px #000, 0 1px 1px #000, -1px 0 1px #000;
    color: white;
}

#chatInput div {
    display: inline;
}

#chatBuffer {
    height: 600px;
    overflow: hidden;
}

#pageIndicators {
    position: absolute;
    right: 10px;
    top: 200px;
    color: #fff;
    text-shadow: 1px 0 1px #000, 0 -1px 1px #000, 0 1px 1px #000, -1px 0 1px #000;
}

#PgDnIndicator {
    position: relative;
    top: 600px;
    opacity: 0;
}

.arrow {
    font-size: 26px;
}

.color-1 {
    color: #ff6961;
}

.color-2 {
    color: #77dd77;
}

.color-3 {
    color: #ffb347;
}

.color-4 {
    color: #a9cee4;
}

.color-5 {
    color: #71cced;
}

.color-6 {
    color: #ca9fdf;
}

.color-8 {
    color: #ff9090;
}

.color-9 {
    color: #ff4040;
}

.bouncedown {
    animation-name: bouncedown;
}

.bounceup {
    animation-name: bounceup;
}

.animated {
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    animation-duration: 2s;
}

@keyframes bouncedown {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-30px);
    }

    60% {
        transform: translateY(-15px);
    }
}

@keyframes bounceup {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(30px);
    }

    60% {
        transform: translateY(15px);
    }
}

.PgText {
    font-size: 16px;
}

#pgDnIndicator {
    opacity: 0;
}
